.mainWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}


input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.add{
    padding: 5px 12px;
    color: grey;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.submit{
    padding: 5px 20px;
    color: white;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 153, 255);
}

.submit:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 153, 255);
    color: black;
}

.add:hover{
    border: 1px solid rgb(182, 182, 182);
}

.title{
    font-weight: 700;
    font-size: 27px;
}

.content {
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 17px;
    border: 2px solid #0099ff;
    background-color: rgb(255, 255, 255);
}